$cardBG: #ffffff;
$theme: #005f28;

nav
{
    background-color: $theme;
    width: calc(100%-20px);
    overflow-x: hidden;
    justify-content: flex-end;
    display: flex;
    padding: 0px 20px;
    div
    {
        padding: 25px;
        &:hover
        {
            background-color: darken($color: $theme, $amount: 2);
        }
        color: white;
        margin-left: 5px;
    }
}

body
{
    margin: 0;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;
}

main
{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    margin-top: 20px;
    
}
#display
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 90vw;
    align-content: flex-start;
    align-items: stretch;
    .inputs
    {
        display: flex;
        flex-direction: column;
        :nth-child(n)
        {
            border-radius: 100vw;
            width: 50vw;
            padding: 35px;
            margin-bottom: 50px;
            font-size: large;
        }
        button
        {
            background-color: $theme;
            color: white;
            &:hover
            {
                background-color: darken($color: $theme, $amount: 3)
            }
        }
    }
}
.card
{
    box-shadow: 2px 2px 10px #aaaaaa;
    margin: 10px 0px;
    width: 600px;
    height: 300px;
    flex-grow: 1;
    margin: 10px;
    background-color: $cardBG;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: all .4s;
    &:hover
    {
        box-shadow: 2px 2px 20px #747474;
        width: 650px;
    }
    .mask
    {
        height: 100%;
        overflow: hidden;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        img
        {
            width: 5000px;
            height: 500px;
        }
    }
    div
    {
        width: 40vw;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-size: 3vw;
        text-align: center;
        text-shadow: 2px 2px 5px rgb(97, 97, 97);
        
    }
}